html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body { 
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 20% 10% 60% 10%;
	grid-template-areas:
		"header header"
		"nav nav"
		"section aside"
		"footer footer"
}

label, button, a {
	font-family: "PT+Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-family: 'hard_rockregular';
	font-size: 100px;
	text-align: center;
	color: white;
	font-weight: 100;
	vertical-align: middle;
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
	background-image: url("../images/nav-texture.jpg");
	height: 100%;
	line-height: 95px;
}

nav .container {
	width: 950px;
	margin: auto;
}

nav .button-container {
	display: inline-block;
}

nav .button-container button {
	font-size: 20px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	padding: 5px 10px;
	outline: none;
	color: white;
}

nav .button-container button:hover {
	color: #FBB316;
}

section {
	grid-area: section;
}

.carousel-content {
	max-width: 50%;
	margin-top: 16px;
	margin-bottom: 16px;
}

.carousel-content img {
	display: none;
}


.a-left {
	transform: rotate(-45deg);
	opacity: 0.5;
	width: 40px;
	height: 40px;
	left: -45px;
}

.a-left:hover {
	opacity: 1;
}

.a-right {
	transform: rotate(135deg);
	opacity: 0.5;
	width: 40px;
	height: 40px;
}

.a-right:hover {
	opacity: 1;
}

.slick-prev {
	left: -50px;
}

.slick-next {
	right: -50px;
}

.slick-initialized {
	left: 120px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #FBB316;
}

aside {
	background-color: black;
	grid-area: aside;
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside .search-form {
	font-family: "PT+Sans", Helvetica, Arial, sans-serif;
	color: white;
}

aside .search-form input {
	height: 25px;
	border-radius: 4px;
	margin: 5px;
}

aside hr { 
	height: 30px; 
	border-style: solid; 
	border-color: #DDD; 
	border-width: 1px 0 0 0; 
	border-radius: 20px;
	width: 85%;
	margin-top: 45px;
} 

aside hr:before { 
	display: block; 
	content: ""; 
	height: 30px; 
	margin-top: -31px; 
	border-style: solid; 
	border-color: #DDD; 
	border-width: 0 0 1px 0; 
	border-radius: 20px; 
}

aside .button-container {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}

aside .button-container button {
	font-size: 14px;
	font-weight: bold;
	background-color: #666;
	border-radius: 4px;
	border-color: transparent;
	padding: 3px 3px;
	outline: none;
	color: white;
	width: 40%;
	margin: 0 auto;
}

aside .button-container button:hover {
	background-color: #333;
	color: #FBB316;
}

aside .button-container button:active {
	background-color: black;
	border-color: #333;
}

.tickets {
	text-align: center;
}

.tickets h3 {
	font-family: "PT+Sans", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #CCC;
}

.tickets div {
	text-align: inherit;
}

.tickets a {
	font-weight: bold;
	font-size: 14px;
	color: #CCC;
}

.tickets a:hover {
	color: #FBB316;
}

footer {
	grid-area: footer;
	display: flex;
	justify-content: space-around;
	background-color: #111;
}

.social-media {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.social-media img {
	width: 26px;
	height: 26px;
	margin: 5px;
}
