* {
    box-sizing: border-box;
}

html {
    background: black;
    -webkit-font-smoothing: antialiased;
}

body {
    background: black url('../images/background.png') no-repeat fixed right top;
    color: #999999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 2.0;
    margin: 0 auto;
    max-width: 1366px;
    padding: 2em 2em 4em;
}

@font-face {
    font-family: 'hard_rockregular';
    src: url('../font/hard_rock-webfont.woff2') format('woff2'),
         url('../font/hard_rock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: white;
    font-family: 'hard_rockregular';
    font-weight: 100;
    font-style: normal;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

/* grid layout */
.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
        "header header header header header"
        "nav nav nav nav nav"
        "aside aside section section section"
        "footer footer footer footer footer"
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
}

/* nav-bar */
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

nav ul {
    margin 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

.lit-button {
    /*
    display: inline-block;
    float: center;
    text-align: center;
    */
    padding: 10px 16px;
    color: white;
    background-color: #333333;
    border: 1px solid #999999;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.lit-button:hover {
    background-color: #454545;
    color: white;
}

icon.ca {
    /*
    display: inline-block;
    */
    width: 26px;
    height 26px;
    float: right;
    text-indent: -9999px;
    background-image: url('../images/calendar-icon.png');
    background-repeat: no-repeat;
}

/* banner slideshow *
arrow {
    position: absolute;
    border: solid #aaaaaa;
    border-width: 0 20px 20px 0;
    display: block;
    padding: 20px;
    margin: auto;
    width: 4.5%;
    top: 65%;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition-duration: 0.3s;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition-duration: 0.3s;
}

.left:hover {
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
}

.right:hover {
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
}
*/
element.style {
    max-width: 1000px;
}

.ss-section, .ss-code {
    margin-top: 16px;
    margin-bottom: 16px;
}

.ss-content {
    max-width: 980px;
    margin: auto;
}

/* footer */
icon.fb {
    width: 26px;
    height 26px;
    display: block;
    text-indent: -9999px;
    background-image: url('../images/facebook.png');
    background-repeat: no-repeat;
}

icon.tw {
    width: 26px;
    height 26px;
    display: block;
    text-indent: -9999px;
    background-image: url('../images/twitter.png');
    background-repeat: no-repeat;
}

icon.ig {
    width: 26px;
    height 26px;
    display: block;
    text-indent: -9999px;
    background-image: url('../images/instagram.png');
    background-repeat: no-repeat;
}

icon.yt {
    width: 26px;
    height 26px;
    display: block;
    text-indent: -9999px;
    background-image: url('../images/youtube.png');
    background-repeat: no-repeat;
}

icon.em {
    width: 26px;
    height 26px;
    display: block;
    text-indent: -9999px;
    background-image: url('../images/email.png');
    background-repeat: no-repeat;
}

icon.wb {
    width: 26px;
    height 26px;
    display: block;
    text-indent: -9999px;
    background-image: url('../images/web-icon.png');
    background-repeat: no-repeat;
}
